/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr repeat(6,1fr);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    
}
.sidebar{
    background-color:  #6d28d9;
    grid-row: 1 /-1;
    grid-column: 1 /2;
    display: grid;
    justify-content: start;
    padding: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: "title" "principal" "espacio" "extra";
}
.sidebar .section1 {
    grid-area: title;
    align-items: start;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto 1fr;

}
#dashboard{
    height: 2rem;
    color: white;
}
.sidebar .section2{
    grid-area: principal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.sidebar .section25{
    grid-area: espacio;
}
.sidebar .section3 {
    grid-area: extra;
    
}
.sidebar .subsection h3,h1 {
    color: white;
}
.sidebar .subsection h3 {
    font-size: 1.7rem;
}
.nav{
    background-color: white;
    box-shadow: 0px 5px ;
    grid-column: 2/-1;
    grid-row: 1/2;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 1fr 1.5fr;
}
.nav .upper {
    grid-row: 1/2;
    display: grid;
    align-items: end;
    justify-content: space-between;
}
.nav .lower{
    grid-row: 2/3;
    display:flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;

}
.nav .upper .section1{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left:2rem;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    align-items: center;
    column-gap: 10px;
}
#magnify{
    height: 1.2rem;
}
#searchbar{
    border-radius: 30px;
    background-color: lightgrey;
    border: none;
    width: clamp(350px,500px,800px);
    height: 1.6rem;
    padding-left: 1.5rem;
}

.nav .upper .section2{
    grid-column: 2/3;
    display: grid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: stretch;
}
#user{
    height: 2rem;
}
#notification{
    height: 1.5rem;
}
.nav .lower .section3{
    padding-bottom: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
#userLow{
    height: 3rem;
    grid-column: 1/2;
}
#name{
    grid-column: 2/3;
}
.nav .lower .section4{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

button{
    background-color: #6d28d9;
    border-radius: 30px;
    color: white;
    border: none;
    width: clamp(60px,110px,120px);
    height: clamp(20px,30px,50px);
}

.info{
    background-color: rgba(227, 239, 244, 0.927);
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 0.1fr  1fr 1fr;
    gap: 20px;
    height: 100%;
}
.projects{
    grid-column: 2/ 3;
    grid-row: 1/-1;
    display: grid;
    grid-column: auto;
    grid-template-rows: 1fr 9fr;
    height: 100%;
    margin-left: 1rem;
    width: 100;
    
}
.projects > .title{ 
    grid-row: 1/2;
    display: grid;
    align-content: center;
    padding-left: 2rem;
}
.boxes{
    grid-row:2/ -1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    padding-top: 0;
    padding-bottom: 0;
    
    margin-bottom: 1rem;
    gap: 20px;
    overflow: auto;
}
.boxes > .box {
    background-color: white;
    border-radius: 25px;
    display: grid;
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    grid-template-rows: 1fr 1fr;
    border-left: 10px solid #a78bfa;
    box-shadow: 0px 10px #ede9fe;
}
.trending{
    grid-column: 3/4;
    grid-row: 3/4;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: grid;
    gap: 1rem;
}
.trending  .box{
    background-color: white;
    border-radius: 15px;
    align-content: stretch;
    align-items: stretch;
    box-shadow: 2px 2px #ede9fe;
    display:grid;
    justify-content: space-around;
    align-content: space-around;
}

.trending .box .section{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px;
}
.tweet{
    grid-column: 2/3;
}

#cowboy{
    height: 1rem;
}

.announcement{
    grid-column: 3/4;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 0.08fr 1fr;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
    gap: 1.5rem;
    justify-content: start;
    padding-bottom: 0.5rem;
}
.announcement .h3{

}
.announcement .box{
    background-color:white;
    color: black;
    border-radius: 15px;
    display: grid;
    align-content: stretch;
    align-items: stretch;
    box-shadow: 2px 2px #ede9fe;
    min-width: fit-content;
    max-width: 162px;
    overflow: scroll;
    justify-items: center;
}
.announcement .box [class^="section"]{
    background-color:white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    
}
.announcement .box [class^="section"] h4{
    font-size: 0.9rem;
    font-weight: bold;
}
.announcement .box [class^="section"] p{
    font-size: small;
}
.h-divider{
    background-color: rgb(219, 221, 231);
    height: 1px;
    width: 90%;
}


.trending h3 , .announcement h3, .projects h3{
    justify-self: start;
}

