*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(6,1fr);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    
}
.sidebar{
    background-color:  #6d28d9;
    grid-row: 1 /-1;
    grid-column: 1 /2;
    display: grid;
    justify-content: start;
    padding: 10%;
    grid-template-columns: auto;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: "title" "principal" "espacio" "extra";
}
.sidebar .section1 {
    grid-area: title;
    align-items: start;
    grid-row: 1/2;

}
.sidebar .section2{
    grid-area: principal;
}

.sidebar .section25{
    grid-area: espacio;
}
.sidebar .section3 {
    grid-area: extra;
    
}
.sidebar .subsection h2,h1 {
    color: white;
}

.nav{
    background-color: white;
    box-shadow: 0px 5px ;
    grid-column: 2/-1;
    grid-row: 1/2;
}
.info{
    background-color: rgba(227, 239, 244, 0.927);
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 0.1fr  1fr 1fr;
    gap: 20px;
    height: 100%;
}
.projects{
    grid-column: 1/ 2;
    grid-row: 1/-1;
    display: grid;
    grid-column: auto;
    grid-template-rows: 1fr 9fr;
    height: 100%;
    margin-left: 1rem;
    
    
}
.projects > .title{ 
    grid-row: 1/2;
    display: grid;
    align-content: center;
    padding-left: 2rem;
}
.boxes{
    grid-row:2/ -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 1rem;
    gap: 20px;
}
.boxes > .box {
    background-color: white;
    border-radius: 25px;
    display: grid;
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    grid-template-rows: 1fr 1fr;
    border-left: 10px solid #a78bfa;
    box-shadow: 0px 10px #ede9fe;
}
.trending{
    grid-column: 3/4;
    grid-row: 3/4;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: grid;
    gap: 1rem;
}
.trending  .box{
    background-color: white;
    border-radius: 15px;
    align-content: stretch;
    align-items: stretch;
    box-shadow: 2px 2px #ede9fe;
    display:grid;
    justify-content: space-around;
    align-content: space-around;
}

.trending .box .section{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    border-radius: 15px;
}

.announcement{
    grid-column: 3/4;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 0.08fr 1fr;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
    gap: 1.5rem;
    justify-content: start;
}
.announcement .h3{

}
.announcement .box{
    background-color: white;
    border-radius: 15px;
    display: grid;
    align-content: stretch;
    align-items: stretch;
    box-shadow: 2px 2px #ede9fe;
}
.announcement .box [class^="section"]{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    border-radius: 15px;
    border-bottom: 1px solid #a78bfa;
}


.trending h3 , .announcement h3, .projects h3{
    justify-self: start;
}

